{% extends 'admin_template/base.html' %}

{% block main_content %}



<h1>Edit Report | {{ report.report_name }}</h1>
  <form action="/update_report" method="post" enctype="multipart/form-data">
      {% csrf_token %}
     <div class="form-group">
      <label >Report Name</label>
      <input type="text" class="form-control"  placeholder="Enter report name" name="report_name" value="{{ report.report_name }}">
      <input type="hidden" class="form-control"  name="report_id" value="{{ id }}">
    </div>
      <div class="form-group ">
      <label>Report Detail</label>
       <textarea class="form-control" rows="7" name="report_detail">{{ report.report_detail }}</textarea>
    </div>
    <div class="form-group col-4">
      <label >Due Date</label>
      <input type="datetime-local" class="form-control" name="due_date" value="{{report.due_date|date:'Y-m-d\TH:i'}}">
    </div>

       <div class="form-group">
        <button type="submit" class="btn btn-outline-primary">Edit report</button>
        <a href="/manage_report" class="btn btn-outline-danger">Сancel</a>
       </div>

       {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'error' %}
      <div class="form-group alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
         <strong>{{ message }}</strong></div>
         {% endif %}
      {% if message.tags == 'success' %}
      <div class="form-group alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
         <strong>{{ message }}</strong></div>
         {% endif %}

        {% endfor %}


      {% endif %}

  </form>





{% endblock %}