{% extends 'registration/base.html' %}


{% block main_content %}

   {% if validlink %}
   <form method="post">
        {% csrf_token %}
        <h1>Forgot Password</h1>

       {% for field in form %}
      <div class="form-group">

          <label class="text-info">{{ field.label_tag }}</label>
          <input class="form-control" type="password" id="{{ field.id_for_label }}" name="{{ field.html_name }}">
        </div>
       <label class="text-danger"> {{ field.errors }}</label>
          {% endfor %}

       <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Change password</button>
       </div>

    </form>
      {% else %}
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset. </p>
     {% endif %}
{% endblock %}