<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<div class="row">


    {% include 'staff_template/header.html'%}

    {% include 'staff_template/sidebar.html' with user=user id=id %}


<div class="col-10">
  {% block main_content %}
    {% endblock %}
</div>


{% include 'staff_template/footer.html'%}

</div>
{% block custom_js %}

{% endblock custom_js %}
</div>

</body>
</html>